@use 'src/styles/mixins';

.content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 100%;
  max-width: 542px;

  background-color: var(--color-dark-700);
  border: 1px solid var(--color-dark-500);
  border-radius: 2px 2px 0 0;

  &.narrow {
    max-width: 420px;
  }

  .title_block {
    @include mixins.flex(row, space-between, center);

    margin: 0;
    padding: 18px 24px;

    &.separator {
      border-bottom: 1px solid var(--color-dark-500);
    }

    .title_text {
      color: var(--color-light-100);
    }

    .close_button {
      all: unset;
      background-color: transparent;

      .wrapper {
        @include mixins.flex(row, center, center);

        width: 2.375rem;
        height: 2.375rem;
        border-radius: 50%;

        &:active {
          background-color: var(--color-dark-100);
        }

        &:hover {
          background-color: var(--color-dark-500);
        }

        &:focus-within {
          background-color: var(--color-dark-100);
        }
      }
    }
  }

  .body {
    @include mixins.flex(column);

    gap: 24px;
    padding: 24px;
  }

  .footer {
    @include mixins.flex(row-reverse, space-between);

    padding: 12px 24px 36px;

    // govnocode
    p {
      color: var(--color-light-100);
    }

    // govnocode
  }
}
