@mixin flex($direction: row, $justify: flex-start, $align: stretch) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}

@mixin text-styles(
  $font-family,
  $font-size,
  $font-weight,
  $color,
  $line-height,
  $text-decoration: none
) {
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight;
  color: $color;
  line-height: $line-height;
  text-decoration: $text-decoration;
}