.primary {
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  flex-shrink: 0;
  gap: 10px;

  padding: 0.375rem 1.75rem;

  color: var(--color-light-100);

  background-color: var(--color-accent-500);
  border: 2px solid transparent;
  border-radius: 4px;
  box-shadow: 0 4px 18px 0 rgb(140 97 255 / 35%);

  &:active {
    background-color: var(--color-accent-700);
  }

  &:hover {
    background-color: var(--color-accent-300);
  }

  &:focus {
    border: 2px solid var(--color-info-700);
  }

  &:disabled {
    background-color: var(--color-accent-900);
  }
}

.secondary {
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  flex-shrink: 0;
  gap: 10px;

  padding: 0.375rem 1.75rem;

  color: var(--color-light-100);

  background-color: var(--color-dark-300);
  border: 2px solid transparent;
  border-radius: 4px;
  box-shadow: 0 2px 10px 0 rgb(109 109 109 / 25%);

  &:active {
    background-color: var(--color-dark-500);
  }

  &:hover {
    background-color: var(--color-dark-100);
  }

  &:focus {
    border: 2px solid var(--color-info-700);
  }

  &:disabled {
    background-color: var(--color-light-900);
    box-shadow: 0 4px 4px 0 rgb(77 86 96 / 13%);
  }
}

.tertiary {
  user-select: none;
  cursor: pointer;

  padding: 0.5rem 1.75rem;

  color: var(--color-accent-500);

  background: transparent;
  border: 1px solid var(--color-accent-500);
  border-radius: 4px;

  &:active {
    background: var(--color-accent-900);
    border: 1px solid var(--color-accent-700);
  }

  &:hover {
    background-color: var(--color-dark-500);
  }

  &:focus {
    outline: 2px solid var(--color-info-700);
  }

  &:disabled {
    color: var(--color-accent-900);
    border: 1px solid var(--color-accent-900);
  }
}

.link {
  user-select: none;
  all: unset;

  cursor: pointer;

  padding: 0.375rem;

  color: var(--color-accent-500);

  background: transparent;
  border: 2px solid transparent;

  &:active {
    color: var(--color-accent-700);
  }

  &:hover {
    color: var(--color-accent-300);
  }

  &:focus {
    border: 2px solid var(--color-info-700);
    border-radius: 20px;
  }

  &:disabled {
    color: var(--color-accent-900);
  }
}

.fullWidth {
  width: 100%;
}