@use '../../../styles/mixins';

.header {
  @include mixins.flex(row, center, center);
  padding: 0 30px;
  width: 100%;
  height: 60px;
  background-color: var(--color-dark-700);

  .container {
    @include mixins.flex(row, space-between, center);
    width: 100%;

    .logo {
      width: 50px;
      height: 50px;
      cursor: pointer;
      display: flex;
    }
  }

  .buttons {
    @include mixins.flex(row, center, center);
    gap: 30px;
    .button_text {
      color: var(--color-light-100);
    }
  }
}