
.good {
  background-color: var(--color-dark-700);
  height: fit-content;
  min-width: 350px;
  max-width: 450px;
  border: 1px solid var(--color-dark-500);
  word-break: break-all;

  .header {
    white-space: nowrap;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--color-dark-500);
  }

  .body {
    white-space: normal;
    padding: 15px;
    gap: 10px;
    display: flex;
    flex-direction: column;
  }
}

.buttons {
  padding: 15px;
  gap: 15px;
  display: flex;
  justify-content: center;
}