.goods {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  @media (max-width: 1024px) {
    justify-content: center;
  }

  .good {
    background-color: var(--color-dark-700);
    height: fit-content;
    width: 300px;
    border: 1px solid var(--color-dark-500);
    word-break: break-all;

    .header {
      white-space: nowrap;
      padding: 15px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid var(--color-dark-500);
      .delete_good {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 2.375rem;
        height: 2.375rem;
        border-radius: 50%;

        &:active {
          background-color: var(--color-dark-100);
        }

        &:hover {
          background-color: var(--color-dark-500);
        }

        &:focus-within {
          background-color: var(--color-dark-100);
        }

      }
    }

    .body {
      white-space: normal;
      padding: 15px;
      gap: 10px;
      display: flex;
      flex-direction: column;
    }
  }

  .buttons {
    padding: 15px;
    display: flex;
    justify-content: space-between;
  }
}

