.goods {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  @media (max-width: 768px) {
    justify-content: center;
  }

  .good {
    background-color: var(--color-dark-700);
    height: fit-content;
    width: 300px;
    border: 1px solid var(--color-dark-500);
    word-break: break-all;

    .header {
      white-space: nowrap;
      padding: 15px;
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid var(--color-dark-500);
    }

    .body {
      white-space: normal;
      padding: 15px;
      gap: 10px;
      display: flex;
      flex-direction: column;
    }
  }

  .buttons {
    padding: 15px;
    display: flex;
    justify-content: space-between;
  }
  .text_color_white {
    color: var(--color-light-100);
  }
}

